<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">
    <ion-row class="ion-align-items-center main-row">
      <ion-col size="12">
        <h3>Social Profiles</h3>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center input-row">
      <h6>Instagram</h6>
      <ion-col size="12">
        <ion-input
          class="input-text"
          [placeholder]="'psprofile.enter-instagram'|translate"
          [(ngModel)]="instagram"
          name="instagram"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center input-row">
      <h6>Facebook</h6>
      <ion-col size="12">
        <ion-input
          class="input-text"
          [placeholder]="'psprofile.enter-facebook'|translate"
          [(ngModel)]="facebook"
          name="facebook"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center input-row">
      <h6>Twitter</h6>
      <ion-col size="12">
        <ion-input
          class="input-text"
          [placeholder]="'psprofile.enter-twitter'|translate"
          [(ngModel)]="twitter"
          name="twitter"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center input-row">
      <h6>FIFA</h6>
      <ion-col size="12">
        <ion-input
          class="input-text"
          [placeholder]="'psprofile.enter-fifa'|translate"
          [(ngModel)]="fifa"
          name="fifa"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center input-row">
      <h6>NBA</h6>
      <ion-col size="12">
        <ion-input
          class="input-text"
          [placeholder]="'psprofile.enter-nba'|translate"
          [(ngModel)]="nba"
          name="nba"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="btn-row">
        <ion-button color="primary" (click)="updatePersonalInformation()"
          >{{ 'psprofile.save-changes' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
