<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid
    class="container"
    [class.blur]="popupService.deletePopup"
    [class.darkContainer]="theme.darkMode"
  >
    <div class="header">
      <div class="profile-banner"></div>

      <div class="profile-title">
        <div class="spacing">
          <img
            class="profile-img"
            [src]="!theme.darkMode ? 'assets/launcher/default/default-avatar.svg' : 'assets/launcher/default/darkmode/default-avatar.svg'"
          />
        </div>
        <div class="spacing">
          <!-- <h3>firstName</h3> -->
          <h3>{{ profileName }}</h3>
          <p>{{ sport }} player</p>
        </div>
      </div>

      <div class="profile-container">
        <div class="profile-stats-highlights">
          <h4>Games</h4>
          <h3>{{games}}</h3>
        </div>
        <div class="profile-stats-highlights">
          <h4>Goals</h4>
          <h3>{{goals}}</h3>
        </div>
        <div class="profile-stats-highlights">
          <h4>Average</h4>
          <h3>{{average}}</h3>
        </div>
      </div>

      <div class="profile-container">
        <div class="profile-summary">
          <div>
            <h6 class="icon-spacer">Summary</h6>
            <img
              src="../../../../assets/psprofile/icons/edit.svg"
              (click)="goToEditSummary()"
            />
          </div>
          <!-- <p>test summary</p> -->
          <p>{{ summary }}</p>
        </div>
      </div>

      <div class="profile-container">
        <div class="player-stats">
          <h6 class="icon-spacer">Stats</h6>
          <img
            src="../../../../assets/psprofile/icons/add.svg"
            (click)="goToAddStats()"
          />
          <div class="stats-table">
            <table>
              <thead>
                <tr>
                  <th>Match Date</th>
                  <th>Vs.</th>
                  <th>Result</th>
                  <th>Goals</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stats of statistics">
                  <td>{{stats.match.match_date}}</td>
                  <td>{{stats.match.opponent_team}}</td>
                  <td>
                    {{stats.match.team_score}}-{{stats.match.opponent_score}}
                  </td>
                  <td>{{stats.football.total_goals}}</td>
                </tr>
                <!-- <tr>
                  <td>2020-01-01</td>
                  <td>REM</td>
                  <td>2-0</td>
                  <td>1</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="professional-highlights">
          <h6 class="icon-spacer">Professional Highlights</h6>
          <img
            src="../../../../assets/psprofile/icons/edit.svg"
            (click)="goToEditProfessionalHighlights()"
          />
          <div class="professional-highlights-inner">
            <div class="column">
              <span class="label">Game</span>
              <span>{{sport}}</span>
            </div>

            <div class="column">
              <span class="label">Current Club</span>
              <span>{{club}}</span>
            </div>

            <div class="column">
              <span class="label">Current Team (Intl)</span>
              <span>{{team}}</span>
            </div>

            <div class="column">
              <span class="label">Position</span>
              <span>{{position}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="personal-information">
          <h6 class="icon-spacer">Personal Information</h6>
          <img
            src="../../../../assets/psprofile/icons/edit.svg"
            (click)="goToEditPersonalInformation()"
          />
          <div class="personal-information-inner">
            <div class="column">
              <span class="label">Full name</span>
              <span>{{profileName}}</span>
            </div>

            <div class="column">
              <span class="label">Label Name</span>
              <span>B. Simmons</span>
            </div>
            <div class="column">
              <span class="label">Height</span>
              <span>{{height}}</span>
            </div>
            <div class="column">
              <span class="label">Weight</span>
              <span>{{weight}}</span>
            </div>
            <div class="column">
              <span class="label">D.O.B</span>
              <span>{{dob}}</span>
            </div>
            <div class="column">
              <span class="label">Location</span>
              <span>{{location}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="social-profiles">
          <h6 class="icon-spacer">Social Profiles</h6>
          <img
            src="../../../../assets/psprofile/icons/edit.svg"
            (click)="goToEditSocialProfiles()"
          />
          <div class="personal-information-inner">
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/instagram.svg" />
              <div class="label">
                <span>Instagram</span>
              </div>
            </div>
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/facebook.svg" />
              <div class="label">
                <span>Facebook</span>
              </div>
            </div>
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/discord.svg" />
              <div class="label">
                <span>Discord</span>
              </div>
            </div>
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/fifa.svg" />
              <div class="label">
                <span>FIFA</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
