<ion-content>
  <app-titlebar></app-titlebar>
  <ion-grid
    class="container"
    [class.blur]="popupService.deletePopup"
    [class.darkContainer]="theme.darkMode"
  >
    <div class="header">
      <div class="profile-banner"></div>

      <div class="profile-title">
        <div class="spacing">
          <img
            class="profile-img"
            [src]="!theme.darkMode ? 'assets/launcher/default/default-avatar.svg' : 'assets/launcher/default/darkmode/default-avatar.svg'"
          />
        </div>
        <div class="spacing">
          <!-- <h3>firstName</h3> -->
          <h3>{{ profileName }}</h3>
          <p>Football player</p>
        </div>
      </div>

      <div class="profile-container">
        <div class="profile-stats-highlights">
          <h4>Games</h4>
          <h3>134</h3>
        </div>
        <div class="profile-stats-highlights">
          <h4>Goals</h4>
          <h3>134</h3>
        </div>
        <div class="profile-stats-highlights">
          <h4>Average</h4>
          <h3>13.4</h3>
        </div>
      </div>

      <div class="profile-container">
        <div class="profile-summary">
          <div>
            <h6 style="display: inline-flex; width: 90%">Summary</h6>
            <img
              src="../../../../assets/psprofile/icons/edit.svg"
              (click)="goToEditSummary()"
            />
          </div>
          <p>test summary</p>
          <!-- <p>{{ profile.summary }}</p> -->
        </div>
      </div>

      <div class="profile-container">
        <div class="player-stats">
          <h6>Stats</h6>
          <div class="stats-table">
            <table>
              <thead>
                <tr>
                  <th>Match Date</th>
                  <th>Vs.</th>
                  <th>Result</th>
                  <th>Goals</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2021-01-01</td>
                  <td>PSG</td>
                  <td>2-2</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2020-01-01</td>
                  <td>REM</td>
                  <td>2-0</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="professional-highlights">
          <h6>Professional Highlights</h6>
          <div class="professional-highlights-inner">
            <div class="column">
              <span class="label">Game</span>
              <span>Football</span>
            </div>

            <div class="column">
              <span class="label">Current Club</span>
              <span>Paris Saint-Germain</span>
            </div>

            <div class="column">
              <span class="label">Current Team (Intl)</span>
              <span>Brazil</span>
            </div>

            <div class="column">
              <span class="label">Preferred Foot</span>
              <span>Left</span>
            </div>

            <div class="column">
              <span class="label">Position</span>
              <span>Attack - Left Winger</span>
            </div>

            <div class="column">
              <span class="label">Number</span>
              <span>101</span>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="personal-information">
          <h6>Personal Information</h6>
          <div class="personal-information-inner">
            <div class="column">
              <span class="label">Full name</span>
              <span>Brooklyn Simmons</span>
            </div>

            <div class="column">
              <span class="label">Label Name</span>
              <span>B. Simmons</span>
            </div>
            <div class="column">
              <span class="label">Height</span>
              <span>175cm</span>
            </div>
            <div class="column">
              <span class="label">Weight</span>
              <span>74Kg</span>
            </div>
            <div class="column">
              <span class="label">D.O.B</span>
              <span>24, Sept 1987</span>
            </div>
            <div class="column">
              <span class="label">Location</span>
              <span>São Paulo, Brazil</span>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-container">
        <div class="social-profiles">
          <h6>Social Profiles</h6>
          <div class="personal-information-inner">
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/instagram.svg" />
              <div class="label">
                <span>Instagram</span>
              </div>
            </div>
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/facebook.svg" />
              <div class="label">
                <span>Facebook</span>
              </div>
            </div>
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/discord.svg" />
              <div class="label">
                <span>Discord</span>
              </div>
            </div>
            <div class="social-column">
              <img src="../../../../assets/psprofile/icons/fifa.svg" />
              <div class="label">
                <span>FIFA</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>
