@import 'src/app/psprofile/root.scss';

.container {
  padding: 40px 0 80px;

  .profile-img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #6fbeab;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 3px;
    width: 6em;
  }

  .profile-banner {
    // position: absolute;
    width: 414px;
    height: 344px;
    left: 0px;
    top: 0px;

    background: linear-gradient(
        180deg,
        rgba(23, 24, 38, 0) 13.37%,
        rgba(0, 0, 0, 0) 53.53%,
        #171826 100%
      ),
      url('../../../../assets/psprofile/banner.jpg');
  }

  .profile-title {
    display: flex;
    position: relative;
    // height: 10em;
    width: 90%;
    left: 5%;
    right: 5%;
    top: -90px;

    background: #2a2b38;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;

    .spacing {
      padding-left: 1em;
      padding-top: 1em;
    }
  }

  .container-frame {
    background: linear-gradient(
      226.3deg,
      rgba(255, 255, 255, 0.1) -0.73%,
      rgba(255, 255, 255, 0.01) 75.09%,
      rgba(255, 255, 255, 0.01) 99.67%
    );
    backdrop-filter: blur(21px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    padding-bottom: 1em;
  }

  .profile-container {
    display: flex;
    width: 90%;
    left: 5%;
    right: 5%;
    position: relative;
    margin-bottom: 1em;

    h6 {
      font-family: 'Inter' !important;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #e5f0f4;
    }

    .icon-spacer {
      display: inline-flex;
      width: 90%;
    }

    .profile-stats-highlights {
      height: 8em;
      width: 33%;
      // left: 0%;
      // right: 69.71%;
      // top: 0px;
      margin: 0 auto;
      text-align: center;
      @extend .container-frame;
    }

    .profile-summary {
      position: relative;
      width: 100%;

      @extend .container-frame;
    }

    .player-stats {
      position: relative;
      width: 100%;

      .stats-table {
        table {
          text-align: center;
          tr {
            border-bottom: 1px solid #454343;
            margin: 7px 0px;
          }
          th,
          td {
            width: 25%;
          }
        }
      }

      @extend .container-frame;
    }

    .column {
      display: inline-block;
      width: 50%;

      .label {
        display: block;
        font-family: Inter !important;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #575e99;
      }
    }

    .social-column {
      display: inline-flex;
      width: 50%;

      .label {
        vertical-align: middle;
        padding-left: 0.5em;
        margin: auto 0;
      }
    }

    .professional-highlights,
    .personal-information,
    .social-profiles {
      position: relative;
      width: 100%;
      @extend .container-frame;
    }
  }
  /*
  ion-slide {
    width: 100px;
    height: 100px;
    padding: 0;
  }


  ion-slide,
  .slide-content,
  .no-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .inactiveSlide {
      width: 66px;
      height: 66px;
    }

    .activeSlide {
      animation: animate;
      animation-duration: 300ms;
      animation-fill-mode: forwards;

      @keyframes animate {
        0% {
          width: 66px;
          height: 66px;
        }
        100% {
          width: 100px;
          height: 100px;
        }
      }
    }

    h1 {
      margin: 0;
      padding: 15px 30px 7.5px;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.21;
      text-align: center;
    }

    p {
      margin: 0;
      padding: 0px 60px 15px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      overflow: hidden;
    }

    .btn-row {
      padding: 15px 30px 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        border-radius: 100%;
        margin: 0 7.5px;
        height: 46px;
        width: 46px;

        img {
          height: 46px;
          width: 46px;
        }
      }
    }

    .disabled-btn-row {
      img {
        margin: 0 7.5px;
      }
    }
  }*/

  /*
  ion-segment {
    padding: 0px 45px;
    --background: transparent;

    ion-segment-button {
      margin: 0 10px;
      height: 35px;
      --border-color: #161740 !important;
      --border-radius: 0;
      --border-style: none;
      --indicator-color: none;
      --indicator-box-shadow: none;

      ion-label {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        letter-spacing: 0.45px;
        text-transform: none;
        color: #b2b7fa;
      }
    }

    .active {
      border-bottom: 2.7px solid #161740 !important;
      border-radius: 4px;
      background: transparent;

      ion-label {
        color: #161740;
      }
    }
  }

  ion-list {
    padding-top: 30px;
    margin: 0;

    ion-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;

      ion-col {
        padding: 0;
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
        }

        ion-label {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.2;
        }
      }
    }

    .first-col {
      display: flex;
      align-items: center;
      justify-content: center;

      .letter {
        font-size: 11px;
        font-weight: 700;
        color: #8888b0;
      }
    }
  }

  .ordered-list {
    padding-top: 15px;
  }

  .onboard-msg {
    h1 {
      margin: 0;
      padding: 21px 0px;
      font-size: 28px;
      font-weight: 800;
      line-height: 1.21;
      text-align: center;
    }

    p {
      margin: 0;
      padding: 0 60px;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0.75px;
      text-align: center;
    }
  }

  .activeItem {
    --background: #f0f1ff;
  }

  ion-item-options {
    border-bottom: none;
  }

  .itemOption {
    background: transparent;

    img {
      height: 20px;
      width: 20px;
    }
  }

  .activeItemOption {
    background: #f0f1ff;
  }
}*/

  /******************** Ion-item option ********************/
  /*
.darkContainer {
  ion-segment {
    ion-segment-button {
      ion-label {
        color: #9d9d9d;
      }
    }

    .active {
      border-bottom: 2.7px solid #ffffff !important;

      ion-label {
        color: #ffffff;
      }
    }
  }

  ion-list {
    background: #121212;

    .first-col {
      .letter {
        color: #9d9d9d;
      }
    }
  }

  .activeItem {
    --background: #212021;
  }

  .activeItemOption {
    background: #212021;
  }
}

@media screen and (max-height: 670px) {
  .container {
    .onboard-msg {
      h1 {
        padding: 21px 0px 10.5px;
        font-size: 26px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
*/
}
