<ion-grid [class.darkContainer]="theme.darkMode">
  <ion-row
    class="ion-activatable ripple"
    (click)="didService.shareIdentity(contact)"
  >
    <ion-label>{{ 'common.share' | translate }}</ion-label>
    <ion-img
      [src]="
        !theme.darkMode
          ? '/assets/psprofile/images/share.svg'
          : '/assets/psprofile/images/darkmode/share.svg'
      "
    ></ion-img>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>

  <ion-row
    class="ion-activatable ripple"
    (click)="friendsService.toggleFav(contact)"
  >
    <ion-label [class.favorite]="contact.isFav">{{
      'common.favorite' | translate
    }}</ion-label>
    <ion-img
      *ngIf="contact.isFav"
      src="/assets/psprofile/images/favorite.svg"
    ></ion-img>
    <ion-img
      *ngIf="!contact.isFav"
      [src]="
        !theme.darkMode
          ? '/assets/psprofile/images/unfavorite.svg'
          : '/assets/psprofile/images/darkmode/unfavorite.svg'
      "
    ></ion-img>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>

  <ion-row class="ion-activatable ripple" (click)="deleteContact()">
    <ion-label class="delete">{{ 'common.delete' | translate }}</ion-label>
    <ion-img src="/assets/psprofile/images/delete.svg"></ion-img>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-row>
</ion-grid>
